@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

body {
    direction: rtl;
    
  

}

body::-webkit-scrollbar {
    width: 12px;              
  }
  body::-webkit-scrollbar-track {
    background: #E5E5D8;      
  }
  body::-webkit-scrollbar-thumb {
    background-color: #314635;   
    border-radius: 20px;   
    border: 3px solid #E5E5D8;  

  }


#container{
    width: 1280px;
    margin: 0 auto;
    background-color: #AE3E4A;

}

nav img{
    padding-left: 19px;
    width: 113px;
    margin: -5px;
} 

.not_working_link{
    cursor: not-allowed;
}


header{

margin-top: 0px;
}



header nav li a{

    display: inline-block;
    font-family: GadiAlmogAlefAlefAlef ;
    
}


header nav ul li a {
    display: inline-block;
    background-color: #314635;
    color: honeydew;
    width: 180px;
    height: 30px;
    padding-top: 15px;
    margin: 0px,0px,15px;
    text-decoration: none;
    text-align: center;
    border-left: 1px solid #E5E5D8;
    display: inline-block;
    
}


.main_nav_sticky {
    background-image: url(../Images/nav_beige.png);
    height: 103px;
    width: 1280px;
    display: flex;
    z-index: 10;
    margin: 0 auto;
}


.main_nav_sticky > ul{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding-top: 8px;
    margin: 0 auto;

   
}




header nav li:nth-child(2) a{
    border-radius:0 10px 10px 0;
}

header nav li:last-child a{
    border-radius:10px 0px 0px 10px;
}

header nav ul li a:hover{
background-color:rgb(0, 0, 0);

}



footer nav li a {
    display: inline-block;
    font-family: 'heebo medium';
}


footer nav ul li a {
    display: inline-block;
    background-color: #E5E5D8;
    color: black;
    width: 100%;
    height: 30px;
    padding-top: 15px;
    margin: 0px,0px,15px;
    text-decoration: none;
    text-align: center;
}

footer nav, footer nav ul, footer nav li {
    width: 100%;
    height: fit-content;
    display: flex;
}

    footer nav li.footer {
        width: 266px;
    }

    footer{
        height: 0px;
        margin-top: 111px;
}
    


footer nav {
    
    width:100%
}


    footer nav ul li a:hover {
        background-color:#314635;
        color: #E5E5D8;
    }


section > h2 {
    font-family: 'Gadi Almog AlefAlefAlef';
    color: white;
    font-size: 30px;
    margin: 81px;
}

section>h1{
    font-family: 'Gadi Almog AlefAlefAlef';
    color: white;
    font-size: 40px;
    margin: 50px;
}


h1 {
    font-family: Heebo;
    color: aliceblue;
    FONT-SIZE: 45px;
    padding-top: 185px;
    TEXT-ALIGN-LAST: CENTER;
    margin-bottom: 40px;
}


h3
{
    font-family: Heebo;
    color: aliceblue;
    font-size: 20px;
    line-height: 163%;
    font-family: Heebo;
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 11px;
}
input {
    margin-bottom: 20px;
    font-family: 'Heebo';
    margin-bottom: 22px;
    font-family: 'Heebo';
    width: 212px;
    direction: rtl;
}

textarea {
 
    margin-bottom: 12px;
    font-family: 'Heebo';
    direction: rtl;
    width: 391px;
    height: 200px;
}
#male, #female{

font-family:Heebo;
padding:50px;
color:aliceblue;
font-size: 16px;


}
#send{
width:80px;
}

main{

width: 1280px;
height: 2000px;
line-height: 2;

}


section{
    position: relative;
}

section p{
    font-family: 'heebo medium';
padding: 25px;
}


#names> img{
    width: 500px;
    position: absolute;
  
    left: 406px;
  
}

div>h3,div>h4,div>h5{
    font-family: 'Gadi Almog AlefAlefAlef';
    color: white; 
    position: absolute;
}

div>h3{
    left: 934px;
    top: 1400px;
}

div>h4{
    left: 284px;
    top: 1605px;
}


div>h5{
    top: 1244px;
    left: 333px;
} 

article ul {
    right: 20px;
}

article ul:first-child > li {
    float: right;
    padding: 54px;
}

article ul li {
    padding: 1%;
}

h2 a{
    font-family: 'Gadi Almog AlefAlefAlef';
    color:#E5E5D8;
    font-size: 23px;

}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }
    
    article ul li {
        font-size: 14pt;
        font-family: 'heebo';
        
    }
    
    a {
        color: white;
    }


    nav ul {
        list-style: none;

        margin-left: -37px;
        padding-left: -5px;
    }


    #odot{
        font-family: 'Gadi Almog AlefAlefAlef';
        color: white; 
        font-size: 35px;
        padding-top: 30px;
    }